nav
  ul
    li(class='nav-item')
      a(href='/books/all') Books
      img(src="/static/images/books-stack-of-three.png")
    li(class='nav-item')
      a(href='/patrons/all') Patrons
      img(src="/static/images/multiple-users-silhouette.png")
    li(class='nav-item')
      a(href='/loans/all') Loans
      img(src="/static/images/hand-holding-up-a-book.png")
